ody {
	display: table;
	width: 100%;
	background: #dedede;
	text-align: center;
}
* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
}

.aa_h2 {
	font: 100 5rem/1 Roboto;
	text-transform: uppercase;
}
table {
	background: #fff;
}
table,
thead,
tbody,
tfoot,
tr,
td,
th {
	text-align: center;
	margin: auto;
	border: 1px solid #dedede;
	padding: 1rem;
	width: 50%;
}
