body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

table {
    width: 350px; /* Adjusted width to accommodate the new column */
    border-collapse: collapse;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Add margin at the bottom of the table */
}

th, td {
    border: 1px solid #878686;
    padding: 8px;
    background-color: #FFFFFF;
    text-align: left;
}

th {
    background-color: #ADD8E6;
}

tr:nth-child(even) {
    background-color: #FFFFFF;
}

td:nth-child(2),
td:nth-child(3) {
    width: 100px; 
}

input[type="text"],
input[type="number"] {
    width: calc(100% - 16px); 
    border: none; 
    padding: 4px;
}

.print-button {
    text-align: center;
}

@media print {
    .print-button {
        display: none;
    }
}
